*{
  background-color: #ff66b2
}
h1{
  text-align: center;
  font-family: fantasy;
  font-size: 48px;
}

h2{
  text-align: center;
}
img{
  height: 500px;
  width: 550px;
  display: block;
    margin: auto;
}
#link{
  text-align: center;
}
